@model Lab6.Models.Admin.AnnouncementLogModel

<h2>Announcement logs</h2>

<table class="table">
    <tbody>
    <tr>
        <th>
            Announcement id
        </th>
        <th>
            User id
        </th>
        <th>
            event
        </th>
    </tr>
    
    @foreach(var log in Model.AnnouncementLogs)
    {
        <tr>
            <th>
                <a asp-controller="Announcement" asp-action="AnnouncementItem" asp-route-id="@log.AnnouncementId">
                    @log.AnnouncementId
                </a>
            </th>
            <th>
                <a asp-controller="User" asp-action="UserProfile" asp-route-id="@log.UserId">
                    @log.UserId
                </a>
            </th>
            <th>
                @log.Event
            </th>
        </tr>
    }
</table>