@using Lab6.Controllers
@model Lab6.Models.User.UserProfileModel


<h1>@Model.User.Username</h1>
@if (User.Identity.Name == Model.User.Email)
{
    <a asp-controller="User" asp-action="EditProfile">Edit profile</a>
}
<p>Email: @Model.User.Email</p>
<p>Role: @Model.User.RoleName</p>

<hr>
<h2>Announcements:</h2>
@foreach (var announcement in Model.User.Announcements)
{
    <a asp-controller="Announcement" asp-action="AnnouncementItem" asp-route-id="@announcement.Id">
        @announcement.Title, @announcement.Address
    </a>
}

<hr>
<h2>Reviews</h2>
@foreach (var review in Model.User.Reviews)
{
    <a asp-controller="Announcement" asp-action="AnnouncementItem" asp-route-id="@review.AnnouncementId">
        @review.Rating, @review.PostDate
    </a>
}

@if (User.Identity.Name == Model.User.Email || new UserController().GetRole(User.Identity.Name) == "admin")
{
    <h2>Reservations</h2>
    foreach (var reservation in Model.User.Reservations)
    {
        <a asp-controller="Announcement" asp-action="AnnouncementItem" asp-route-id="@reservation.AnnouncementId">
            @reservation.FromDate - @reservation.TillDate
        </a>
        <br/>
    }
}